 .auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f5f5;
} 
.auth-form {
  background: white;
  padding: 40px;
  border-radius: 12px;

  width: 100%;
  max-width: 350px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
} 
.auth-form h2 {
  text-align: center;
  margin-bottom: 10px;
} 
.auth-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
} 
.auth-form button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #000000;
  color: white;
  font-size: 16px;
  cursor: pointer;

  transition: 0.2s;
}

.auth-form button:hover {
  background: #3e3e3e;
}
