.cart {
  padding: 40px;
}

.cart-item {
  display: flex;
  gap: 20px;  
  padding: 15px;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cart-info {
  flex: 1;
}

.quantity-controls {
  display: flex;
  gap: 10px;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.order-btn {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
